<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Yap Sessions </title>
</head>
<body>
    <header>
        <h2 class="app-title">Yap Sessions</h2>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <div id="room-container">
            <ul id="room-buttons">
                <% Object.keys(rooms).forEach((room) => { %>
                    <li><button><%= room %></button></li>
                <% }) %>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="name">
            <input type="text" id="name-input" class="name-input" value="<%= name %>" maxlength="20" readonly>
        </div>

        <!-- Fix ul issue -->
        <h3 class="clients-total" id="clients-total">Total Clients: 0</h3>
        <ul class="message-container" id="message-container"></ul>
    </div>

    <!-- Form floating separately -->
    <form class="message-form" id="message-form">
        <input type="text" name="message" id="message-input" class="message-input" placeholder="Type a message..." required>
        <button type="button" id="emoji-button" class="emoji-btn">😊</button> 
        <div class="v-divider"></div>
        <button type="submit" class="send-button">
            Send <span><i class="fas fa-paper-plane"></i></span>
        </button>
        <div id="emoji-container" style="display: none"></div>
        
    </form>
</body>

    

    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.6.2/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"></script>
    <script src="/main.js"></script>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>