body {
  paadding: 0;
  margin: 0;
}

.app-title {
  text-decoration: underline;
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: green;

}

.message-left {
  color: blue
}

.message-right {
  color: red
} 